In [1]:
import numpy as np
import pandas as pd

# Assignment 1

    1. Create a Series object from a list of 10 items using a customized index values.
    2. Create a Series object from a dictionary of 10 items.
    3. Create a DataFrame object from a Series object with a customized index values.
    4. Create a DataFrame object generated from random values of 5 rows by 5 columns numpy array. Give each columns a title        and each index a name.
    5. Separate the DataFrame in number 4 to its individual Index, Values and Colomns

In [2]:
# 1. Create a Series object from a list of 10 items using a customized index values.
series = pd.Series([3, 5, 1, 2, 6, 7, 8, 9, 0, 4], index=['i', 'ii', 'iii', 'iv', 'v', 'vi', 'vii', 'viii', 'ix', 'x'])
series

i       3
ii      5
iii     1
iv      2
v       6
vi      7
vii     8
viii    9
ix      0
x       4
dtype: int64

In [3]:
# 2. Create a Series object from a dictionary of 10 items.
age = {'Tola': 20, 'Sade': 22, 'Bola': 27, 'Sunday': 34, 'Kehinde': 25, 'James': 35, 'Lola': 36, 'Goodluck': 26, 'Grace': 22, 'Tunde': 29}
age_series = pd.Series(age)
age_series

Tola        20
Sade        22
Bola        27
Sunday      34
Kehinde     25
James       35
Lola        36
Goodluck    26
Grace       22
Tunde       29
dtype: int64

In [4]:
# 3. Create a DataFrame object from a Series object with a customized index values
ageOfStudents = pd.DataFrame({'Age': age_series})
ageOfStudents

          Age
Tola       20
Sade       22
Bola       27
Sunday     34
Kehinde    25
James      35
Lola       36
Goodluck   26
Grace      22
Tunde      29

In [5]:
# 4. Create a DataFrame object generated from random values of 5 rows by 5 columns numpy array. Give each columns a title 
# and each index a name.
randData = np.random.randint(0,100,(5,5))
percentageOfRainfall = pd.DataFrame(randData, columns=['January (%)', "February (%)", 'March (%)', 'April (%)', 'May (%)'], 
                          index=['Oyo', 'Ogun', 'Lagos', 'Rivers', 'Kwara'])
percentageOfRainfall

        January (%)  February (%)  March (%)  April (%)  May (%)
Oyo              91            92         25         28       49
Ogun             39            20         16         91       68
Lagos            92            93         34         73       21
Rivers           16            11         19         10       94
Kwara            52            62         43         80       59

In [6]:
# 5. Separate the DataFrame in number 4 to its individual Index, Values and Colomns
print('The indexes of the data are:\n', percentageOfRainfall.index)
print('The values of the data are:\n', percentageOfRainfall.values)
print('The columns of the data are:\n', percentageOfRainfall.columns)

The indexes of the data are:
 Index(['Oyo', 'Ogun', 'Lagos', 'Rivers', 'Kwara'], dtype='object')
The values of the data are:
 [[91 92 25 28 49]
 [39 20 16 91 68]
 [92 93 34 73 21]
 [16 11 19 10 94]
 [52 62 43 80 59]]
The columns of the data are:
 Index(['January (%)', 'February (%)', 'March (%)', 'April (%)', 'May (%)'], dtype='object')